<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<!-- DEFINICION DE ACTUALIZACION DE DEUDA -->
	<bean name="jobCalInteres" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass"
			value="pe.gob.sunafil.gestioncobranza.utils.ActualizarInteres" />
		<property name="jobDataAsMap">
			<map>
				<entry key="expedienteService" value-ref="expedienteService" />
			</map>
		</property>
	</bean>
	<!-- TIEMPO DE EJECUCION -->
	<bean id="cronTrigger3" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="jobCalInteres" />
		<!-- <property name="cronExpression" value="0/40 * * * * ?" /> -->
		<property name="cronExpression" value="0 0/5 9-23 * * ?" />
		<!-- <property name="cronExpression" value="0 0 11 * * ?" /> -->
	</bean>

	<!-- INYECCION DE BEAN -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="jobCeseUsuario" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="cronTrigger1" />
			</list>
		</property>
	</bean>

</beans>